<header>
<% if (user) {%>
  <span class="header-item">Welcome, <%= user.email %></span>
  <span class="header-item"><a href="/urls">My Links</a></span>
  <form class="header-item" action="/logout" method="POST">
    <input type="submit" name="logout" value="Logout" />
  </form>
<%} else {%>
  <a class="header-item" href="http://localhost:8080/register">Register</a>
  <a class="header-item" href="http://localhost:8080/login">Login</a>
<%}%>
</header>