<html lang="en">
<head>
</head>
<body>
    <header>
      <% include partials/_header %>
    </header>
    <% if (user) {%>
      <% for (let key in urls) {%>
        <span>localhost:8080/u/<%=key%></span>
        <span> <---> </span>
        <span><%=urls[key] %></span>
        <span><a href="http://localhost:8080/urls/<%=key%>">Edit</a></span>
        <form method="POST" action="/urls/<%= key %>/delete"  style="display: inline-block">
          <button>delete</button>
        </form>
        </br>
      <% } %>
        <span><a href="http://localhost:8080/urls/new">Create a New Short Link</a>
    <%} else {%>
    <span>You must be logged in to access this function. <a href="http://localhost:8080/login">Login here.</a></span>
    <%}%>
</body>
</html>


