<html lang="en">
  <% include partials/_head %>
  <body>
    <div class="main-container">
    <% include partials/_header %>
      <% if (user) {%>
      <span>You are already logged in!</span>
      <%} else {%>
      <h3>Login</h3>
      <form action="/login" method="POST">
        <input type="email" name="email" placeholder="email">
        <input type="password" name="password" placeholder="password">
        <input type="submit">
      </form>
      <%}%>
    </div>
  </body>
</html>