<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
  <header>
      <% include partials/_header %>
  </header>
  <span><%=shortURL%></span>
  <span><---></span>
  <span><%=longURL%><br/></span>
  <form action="/urls/<%=id%>" method="POST">
  <input id="longURL" type="text" name="longURL" value="http://">
  <input type="submit" value="Update">
  </form>
</body>
</html>