<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <div class="main-container">
    <header>
      <% include partials/_header %>
    </header>
    <form action="/register" method="POST">
      <input type="email" name="email" placeholder="email">
      <input type="password" name="password" placeholder="password">
      <input type="submit">
    </form>
  </div>
</body>
</html>